@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}
body {
  height: 100vh;
  background-color: #0d0c12;
  color: white;
  font-family: "IBM Plex Mono", "Courier New", Courier, monospace;
  font-weight: 400;
  -webkit-font-smoothing: antialiased; /* For Safari and Chrome */
  -moz-osx-font-smoothing: grayscale; /* For Firefox on macOS */
  font-smooth: always;
  overflow-x: hidden;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
}

:root {
  --size: 20px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-corner {
  display: none;
}

.container {
  cursor: pointer;
  width: max-content;
}
.container svg {
  width: 1em;
}

.container input {
  display: none;
}

.container svg {
  overflow: visible;
}

.path {
  fill: none;
  stroke: #a4ffaf;
  stroke-width: 6;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
  stroke-dasharray: 241 9999999;
  stroke-dashoffset: 0;
  -webkit-transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
  -moz-transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
  -ms-transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
  -o-transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
}

.container input:checked ~ svg .path {
  stroke-dasharray: 70.5096664428711 9999999;
  stroke-dashoffset: -262.2723388671875;
}

.section {
  color: white;
  font-weight: 500;
  font-size: 1.25rem;
  position: relative;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.section-cont {
  position: relative;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.section-cont::after {
  content: "";
  width: 50%;
  height: 3px;
  background-color: #a4ffaf;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.input {
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  position: relative;
  &:focus {
    outline: solid #a4ffaf 2px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
  }
  &::placeholder {
    translate: 0.5em 0;
    color: aliceblue;
  }
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #0d0c12 inset !important;
    -webkit-text-fill-color: white !important;
  }
}

.animation {
  animation: pulse 0.25s linear;
  -webkit-animation: pulse 0.25s linear;
}

@keyframes pulse {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  25% {
    transform: translateX(-1%);
    -webkit-transform: translateX(-1%);
    -moz-transform: translateX(-1%);
    -ms-transform: translateX(-1%);
    -o-transform: translateX(-1%);
  }
  50% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
  75% {
    transform: translateX(1%);
    -webkit-transform: translateX(1%);
    -moz-transform: translateX(1%);
    -ms-transform: translateX(1%);
    -o-transform: translateX(1%);
  }
  100% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
}

.animateCss {
  animation: animate 1s ease-in-out infinite;
  -webkit-animation: animate 1s ease-in-out infinite;
}

@keyframes animate {
  0% {
    translate: -50px;
  }
  100% {
    translate: 1000px;
  }
}
